# Application Settings
GIN_MODE=debug
API_PORT=3001
LOG_LEVEL=INFO
ENABLE_SWAGGER=true
DEBUG=true

# Database
DB_FILE_PATH=./badger

# Security
PEPPER=
JWT_SECRET=

# Admin Account
ADMIN_ACCOUNT_LOGIN=admin
ADMIN_ACCOUNT_PASSWORD=

# Default Member Account
DEFAULT_ACCOUNT_LOGIN=default
DEFAULT_ACCOUNT_PASSWORD=
